html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
}

body {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;;
	color: #212121;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

.container {
	max-width: 820px;
	margin: 0 auto;
	padding: 0 15px;
}



.header {
	position: relative;
}

.header::before {
	content: '';
	position: absolute;
	background-color: #2C456E;
	height: 82px;
	width: 3px;
	top: 0;
	left: 0;
	z-index: -1;
}

.header::after {
	content: '';
	position: absolute;
	background-color: #2C456E;
	height: 82px;
	width: 740px;
	top: 0;
	right: 0;
	z-index: -1;
}

.logo {
	display: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
}

.menu__btn {
	display: none;
}

.menu__list {
	height: 82px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__list-link {
	font-size: 14px;
	line-height: 17px;
	color: #2C456E;
}

.menu__list-btn {
	padding: 8px 25px;
	border: 1px solid #fff;
	color: #FFFFFF;
}

.submenu {
	margin-bottom: 100px;
	background-color: #F9F9F9;
}

.submenu__list {
	height: 59px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.submenu__list-link {
	font-size: 14px;
	line-height: 17px;
	color: #2C456E;
	position: relative;
}
.submenu__list-link::before {
	content: '';
	width: 6px;
	height: 6px;
	position: absolute;
	left: -15px;
	top: 5px;
	background: #2C456E;
}



.main {
	margin-bottom: 100px;
}

.main__inner {
	display: flex;
}

.main__info {
	flex-basis: 330px;
}

.main__title {
	margin-top: 20px;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
}

.main__text {
	margin-bottom: 30px;
}

.main__btn {
	padding: 9px 55px;
	background: #2C456E;
	border-radius: 7px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}

.main__img--mobile {
	display: none;
}



.benefits {
	margin-bottom: 100px;
}

.benefits__items {
	background: #F9F9F9;
	background-image: url('../images/benefits-bg.png');
	background-repeat: no-repeat;
	background-position: 50px bottom;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.benefits__item {
	margin-top: 20px;
	margin-right: 20px;
	flex-basis: 150px;
}

.benefits__item:first-child {
	flex-basis: 400px;
	justify-content: flex-start;
}

.benefits__item-title {
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
}

.benefits__item-text--mobile {
	display: none;
}



.catalog {
	margin-bottom: 100px;
}

.catalog__inner {
	display: flex;
	justify-content: space-between;
}

.catalog__item {
	width: 180px;
	height: 106px;
	background-color: #2C456E;
}

.catalog__title {
	width: 150px;
	height: 31px;
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
}

.catalog__select {
	height: 37px;
	width: 95%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.catalog__option {
	margin-top: 20px;
	width: 180px;
}



.order__inner {
	display: flex;
}

.order__path {
	display: flex;
}

.order__path-left {
	width: 200px;
}

.order__path-right {
	width: 200px;
}

.order__path-text {
	text-align: center;
	position: relative;
}

.order__path-text::before {
	content: '';
	width: 15px;
	height: 15px;
	padding-top: 2px;
	position: absolute;
	background: #2C456E;
	border-radius: 50%;
	font-size: 10px;
	line-height: 12px;
	color: #fff;
}

.order__path-text::after {
	content: '';
	position: absolute;
}

.order__path-first {
	margin-left: 100px;
	margin-bottom: 85px;
}
.order__path-first::before {
	content: '1';
	top: 15px;
	left: -2px;
}
.order__path-first::after {
	content: url('../images/line-1.svg');
	top: 50px;
	left: 30px;
}

.order__path-second {
	margin-right: 58px;
	margin-bottom: 120px;
}
.order__path-second::before {
	content: '2';
	top: 10px;
	right: 2px;
}
.order__path-second::after {
	content: url('../images/line-2.svg');
	top: 1px;
	left: 131px;
}

.order__path-fourth {
	
}
.order__path-fourth::before {
	content: '4';
	top: -15px;
	right: 85px;
}
.order__path-fourth::after {
	content: url('../images/line-4.svg');
	top: 10px;
	left: 175px;
}

.order__path-third {
	margin-top: 175px;
	margin-left: 30px;
	margin-bottom: 120px;
}
.order__path-third::before {
	content: '3';
	top: -15px;
	right: 70px;
}
.order__path-third::after {
	content: url('../images/line-3.svg');
	top: 50px;
	left: -110px;
}

.order__path-fifth {
	margin-left: 50px;
}
.order__path-fifth::before {
	content: '5';
	top: 18px;
	left: -10px;
}



.questions {
	margin-top: -32px;
	margin-bottom: 100px;
}

.questions__block {
	display: flex;
	margin-bottom: 20px;
}

.questions__left-text {
	margin-top: 1em;
	padding: 18px 77px;
	background: #2C456E;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

.questions__right-text {
	padding: 18px 50px;
	background: #F9F9F9;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #2C456E;
}

.questions__right--mobile {
	display: none;
}

.questions__text {
	width: 550px;
	margin: 0 auto;
	font-weight: 500;
}

.questions__btn {
	display: inline-block;
	margin-top: 40px;
	margin-left: 560px;
	padding: 9px 30px;
	background: #2C456E;
	border-radius: 7px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}



.about {
	margin-top: 100px;
	margin-bottom: 150px;
}

.about__inner {
	background-image: url('../images/page-bg.png');
	background-repeat: no-repeat;
	background-position: top right;
	
}

.about__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.about__text {
	margin-bottom: 40px;
}

.about__text span {
	font-weight: 700;
}

.about__subtitle {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}



.contacts {
	margin-top: 100px;
}

.contacts__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.contacts__text {
	margin-bottom: 20px;
}

.contacts__text span {
	font-weight: 700;
}

.contacts__phone {
	float: right;
	padding-right: 15px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}



.catalogue {
	margin-top: 100px;
	margin-bottom: 150px;
}

.catalogue__title {
	margin-bottom: 80px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.catalogue__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	margin-bottom: 30px;
	background-color: #F9F9F9;
}

.card__img {
	padding: 20px;
}

.card__title {
	margin-bottom: 5px;
	padding-left: 25px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.card__subtitle {
	margin-bottom: 15px;
	padding-left: 25px;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
}

.card__list {
	flex-direction: column;
	padding-left: 45px;
}

.card__list-item {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #2C456E;
	position: relative;
}

.card__list-item::before {
	content: url('../images/check-mark.svg');
	position: absolute;
	left: -20px;
}

.card__link {
	margin-left: 25px;
	margin-right: 35px;
	display: inline-block;
	padding: 10px 23px;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	background: #2C456E;
	border-radius: 7px;

}

.card__price {
	margin-top: 20px;
	margin-bottom: 35px;
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}



.product {
	margin-top: 100px;
	margin-bottom: 80px;
}

.product__inner {
	display: flex;
	justify-content: space-around;
}

.product .card {
	width: 300px;
}

.product .card__title {
	padding-top: 30px;
}

.card__text {
	width: 270px;
	padding-left: 25px;
}

.product .card__link {
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 30px;
	padding: 10px 20px;
}

.product .card__price {
	display: block;
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
	line-height: 21px;
}

.product .card__img {
	width: 270px;
	height: 350px;
}



.video {
	margin-bottom: 100px;
}



.payment {
	margin-bottom: 100px;
}

.payment__title {
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.payment__items {
	background-image: url("../images/page-bg.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

.payment__item {
	width: 615px;
	margin-bottom: 20px;
}

.payment__item-title {
	padding-left: 30px;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	position: relative;
}

.payment__item-title::before {
	content: "";
	position: absolute;
	left: -7px;
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2C456E;
	color: #fff;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	border-radius: 50%;
}

.payment__item-title--1::before {
	content: "1";
}

.payment__item-title--2::before {
	content: "2";
}

.payment__item-title--3::before {
	content: "3";
}

.payment__item-title--4::before {
	content: "4";
}

.payment__item-text {
	padding-left: 30px;
	font-size: 12px;
	line-height: 15px;
	border-left: 1px solid #2C456E;
}
.payment__item-text span {
	display: block;
	margin-top: 20px;
}

.prices__inner {
	background-image: url('../images/page-bg.png');
	background-repeat: no-repeat;
	background-position: top right;
}

.prices__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.prices__text {
	margin-bottom: 30px;
}

.prices__item {
	width: 580px;
	margin-bottom: 30px;
	padding-left: 30px;
}

.prices__item-title {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 17px;
	position: relative;
}

.prices__item-title::before {
	content: url('../images/prices-mark.svg');
	position: absolute;
	left: -30px;
}

.prices__item-text {
	margin-bottom: 20px;
}

.warranty {

}

.warranty__inner {
	background-image: url('../images/page-bg.png');
	background-repeat: no-repeat;
	background-position: top right;
}

.warranty__title {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.warranty__item {
	width: 615px;
	margin-bottom: 30px;
	padding-left: 30px;
}

.warranty__item-title {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 17px;
	position: relative;
}

.warranty__item-title::before {
	content: url('../images/prices-mark.svg');
	position: absolute;
	left: -30px;
}

.warranty__item-text span {
	font-weight: 700;
}



@media (max-width: 1680px) {
	.header::after {
		width: 620px;
	}
}

@media (max-width: 1600px) {
	.header::after {
		width: 580px;
	}
}

@media (max-width: 1440px) {
	.header::after {
		width: 500px;
	}
}

@media (max-width: 1366px) {
	.header::after {
		width: 460px;
	}
}

@media (max-width: 1280px) {
	.header::after {
		width: 420px;
	}
}

@media (max-width: 1152px) {
	.header::after {
		width: 350px;
	}
}

@media (max-width: 1024px) {
	.header::after {
		width: 290px;
	}
}

@media (max-width: 768px) {
	.container {
		
	}
	.header {
		height: 61px;	
	}
	.header--active {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1;
	}
	.header::before {
		display: none;
	}
	.header::after {
		width: 100%;
		height: 61px;
	}
	.logo {
		display: block;
	}
	.menu__btn {
		margin-top: -18px;
		margin-right: 10px;
		float: right;
		display: block;
		background-color: transparent;
		border: none;
		outline: none;
		padding: 0;
		cursor: pointer;
	}
	.menu__btn::before,
	.menu__btn::after {
		content: "";
		background-color: #E0E0E0;
		display: block;
		width: 24px;
		height: 2px;
		margin-bottom: 4px;
		transition: transform .3s;
	}
	.menu__btn::after {
		margin-bottom: 0;
	}
	.menu__btn-line {
		background-color: #E0E0E0;
		display: block;
		width: 24px;
		height: 2px;
		margin-bottom: 4px;
	}
	.menu__btn.menu__btn--active .menu__btn-line {
		opacity: 0;
	}
	.menu__btn.menu__btn--active::after {
		width: 24px;
		transform: translateY(-6px) rotate(-135deg);
	}
	.menu__btn.menu__btn--active::before {
		transform: translateY(6px) rotate(135deg);
	}
	.menu__list {
		position: fixed;
    	left: 0;
    	right: 0;
    	top: 0;
    	bottom: 0;
    	background: rgba(28,28,28,0.9);
		flex-direction: column;
		justify-content: flex-start;
		text-align: center;
		transform: translateY(-1000px);

	}
	.menu__list--active {
		height: auto;
		transform: translateY(61px);
		overflow-y: hidden;
	}
	.menu__list-item {
		width: 95%;
		background-color: #fff;
		border-bottom: 1px solid #000;
	}
	.menu__list-item:last-child {
		display: none;
	}
	
	.menu__list-link {
		display: inline-block;
		padding-top: 30px;
		padding-bottom: 30px;
		font-weight: 700;
	}
	.submenu {
		display: none;
	}
	.submenu--active {
		display: block;
	}
	.submenu__list {
		position: fixed;
		margin-left: 4px;
		width: 95%;
		height: auto;
		flex-direction: column;
		text-align: center;
		background-color: #2C456E;
		transform: translateY(-1000px);
		z-index: 1;
	}
	.submenu__list--active {
		transform: translateY(350px);
	}
	
	.submenu__list-item {
		width: 100%;
		border-bottom: 1px solid #fff;
	}
	.submenu__list-link::before {
		background-color: #fff;
		top: 35px;
	}
	.submenu__list-link {
		display: inline-block;
		padding-top: 30px;
		padding-bottom: 30px;
		color: #fff;
		font-weight: 700;
	}
	.submenu__list-item:last-child {
		border-bottom: none;
	}
	
	.main {
		margin-bottom: 60px;
	}
	.main__title,
	.main__img {	
    	margin-top: 50px;
	}
	.benefits {
    	margin-bottom: 50px;
	}
	.benefits__items {
		flex-direction: column;
		background-color: #fff;
		background-image: none;
	}
	.benefits__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 10px;
		flex-basis: auto;
		background: #F9F9F9;
		background-image: url('../images/benefits-bg--mobile.png');
		background-repeat: no-repeat;
		background-position: 0 0
	}
	.benefits__item:first-child {
    	flex-basis: auto;
	}
	.benefits__item:nth-child(4) {
		order: 1;
	}
	.benefits__item-title {
		margin-top: 30px;
	}
	.benefits__item-text {
		width: 320px;
		margin-bottom: 30px;
	}
	.benefits__item-text--desktop {
		display: none;
	}
	.benefits__item-text--mobile {
		display: block;
	}
	.catalog {
		margin-bottom: 50px;
	}
	.questions {
		margin-bottom: 50px;
	}
	.payment__title {
		text-align: center;
	}
	.payment__items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.questions__block {
		justify-content: center;
	}
	.questions__left-text {
		padding: 17px 40px;
	}
	.prices {
		margin-top: 30px;
	}
	.prices__title,
	.prices__text {
		text-align: center;
	}
	.prices__item {
		width: 100%;
	}
	.warranty {
		margin-top: 30px;
	}
	.warranty__title {
		text-align: center;
	}
	.warranty__item {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.submenu__list {
		margin-left: -3px;
	}

	.main__inner {
		flex-direction: column;
		align-items: center;

	}
	.main__info {
		width: 240px;
	}
	.main__title {	
    	margin-bottom: 15px;
    	font-size: 16px;
    	line-height: 20px;
	}
	.main__text {
    	margin-bottom: 380px;
	}
	.main__btn {
		order: 1;
	}
	.main__img {
		display: none;
	}
	.main__img--mobile {
		width: 440px;
		height: 400px;
		display: block;
		position: absolute;
		top: 270px;
		right: 0;
	}

	.catalog__inner {
		flex-direction: column;
	}
	.catalog__item {
		width: 450px;
		height: 96px;
		margin-bottom: 10px;
	}
	.catalog__title {
		width: 100%;
		margin-bottom: 0;
	}

	.order__inner {
		flex-direction: column;
	}
	.order__img {
		width: 250px;
		margin: 0 auto;
		order: 1;
	}

	.questions {
		margin-bottom: 35px;
	}
	.questions__block {
		flex-direction: column;
		text-align: center;
	}
	.questions__left-text,
	.questions__right-text {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 18px;
		line-height: 22px;
	}
	.questions__right--desktop {
		display: none;
	}
	.questions__right--mobile {
		display: block;
	}
	.questions__text,
	.questions__btn {
		display: none;
	}

	.about {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.contacts {
		margin-top: 50px;
	}

	.catalogue {
		margin-top: 50px;
		margin-bottom: 0
	}
	.catalogue__title {
		margin-bottom: 50px;
	}
	.catalogue__cards {
		justify-content: center;
	}
	.product {
    margin-top: 30px;
    margin-bottom: 30px;
	}
	.product__inner {
		flex-direction: column;
		align-items: center;
	}
	.product .card {
		order: 1;
	}
	.video {
		margin-bottom: 50px;
	}
	.payment {
    margin-bottom: 70px;
	}
	.payment__item {
		width: 100%;
	}
}

@media (max-width: 425px) {
	.catalog__item {
		width: 395px;
	}
}

@media (max-width: 414px) {
	.submenu__list {
    	margin-left: -4px;
	}
	
	.main__text {
    	margin-bottom: 360px;
	}
	.main__img--mobile {
    	width: 390px;
    	height: 380px;
	}

	.catalog__item {
		width: 384px;
	}
	
	.order__path-text {
		font-size: 9px;
		line-height: 11px;
	}
	.order__path-text::before {
    	width: 12px;
    	height: 12px;
    	padding-top: 1px;
    	font-size: 7px;
    	line-height: 9px;
	}
	.order__path-first::before {
    	top: 12px;
    	left: 8px;
	}
	.order__path-first::after {
    	top: 37px;
    	left: 25px;
	}
	.order__path-second {
    	margin-bottom: 128px;
	}
	.order__path-second::before {
    	top: 6px;
    	right: 10px;
	}
	.order__path-second::after {
    	top: 0px;
    	left: 125px;
	}
	.order__path-third::after {
    	top: 35px;
    	left: -110px;
	}
	.order__path-fourth::after {
    	top: 10px;
    	left: 164px;
	}
}

@media (max-width: 375px) {
	.submenu__list {
    	margin-left: -5px;
	}
	
	.main__text {
    	margin-bottom: 330px;
	}
	.main__img--mobile {
    	width: 360px;
    	height: 350px;
	}

	.catalog__item {
		width: 345px;
	}

	.order__path-first::before {
    	top: 12px;
    	left: 0px;
	}
	.order__path-first::after {
    	top: 36px;
    	left: 4px;
	}
	.order__path-second::before {
    	top: 6px;
    	right: 4px;
	}
	.order__path-second::after {
    	top: 5px;
    	left: 88px;
	}
	.order__path-fourth::after {
    	top: 10px;
    	left: 146px;
	}
	.order__img {
		width: 230px;
	}
}

@media (max-width: 320px) {
	.submenu__list {
    	margin-left: -7px;
	}

	.main__text {
    	margin-bottom: 295px;
	}
	.main__img--mobile {
    	width: 320px;
    	height: 300px;
	}

	.benefits__item-text {
    	width: 290px;
    	padding-left: 5px;
    	padding-right: 5px;
    	text-align: center;
	}

	.catalog__item {
		width: 290px;
	}

	.order__path-first::before {
    	left: -12px;
	}
	.order__path-first::after {
    	top: 36px;
    	left: -2px;
	}
	.order__path-second {
    	margin-bottom: 140px;
	}
	.order__path-second::before {
    	right: -9px;
	}
	.order__path-second::after {
    	top: 8px;
    	left: 54px;
	}
	.order__path-third::before {
    	top: -13px;
    	right: 49px;
	}
	.order__path-third::after {
    	top: 45px;
    	left: -110px;
	}
	.order__path-fourth::after {
    	top: 13px;
    	left: 127px;
	}
	.order__path-fifth::before {
    	top: 22px;
    	left: -3px;
	}
	.order__img {
    	width: 210px;
	}
}
